.layout.centered {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.layout.full {
  width: 100%;
  height: 100%;
}

.layout.col.spaced > :not(:first-child) {
  margin-top: 6px;
}

.layout.row.spaced > :not(:first-child) {
  margin-left: 6px;
}
